@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="parrafo1">Hola mundo</p>
    <p class="swd" id="swd">SWD</p>
    <button type="button" class="btn btn-danger">Guardar</button>


</div>
